body {
    width: 60%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

#question-div {
    width: 60%;
    height: 100px
}

.questions-list li {
    border: 3px solid grey;
    margin: 10px;
    border-radius: 5px;
}

.pagination li {
    margin-left: 20px;
    float: left;
}

.answer {
    border: 3px solid grey;
    margin: 10px;
    border-radius: 5px;
}
